[submodule "client"]
    path = client
    url = https://github.com/yashrajoria03/alora-frontend.git

[submodule "server"]
    path = server
    url = https://github.com/yashrajoria03/alora-backend.git
